.react-datepicker__day--today {
  background-color: #00817a;
}

.react-datepicker__day--today p {
  color: white;
}

.react-datepicker__header {
  margin-top: 10px;
  background-color: white;
  font-family: "Circular Std";
  border: 0;
}

.react-datepicker__day-names {
  margin-top: 15px;
}

.react-datepicker__day-names div {
  color: var(--chakra-colors-neutral-400);
}

.react-datepicker {
  border: 1px solid var(--chakra-colors-neutral-100);
  box-shadow: var(--chakra-shadows-sm);
}
