@font-face {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 800;
  src: local("Circular Std"),
    url("./fonts/CircularStd-Black.woff") format("woff");
}

@font-face {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  src: local("Circular Std"),
    url("./fonts/CircularStd-Book.woff") format("woff");
}

@font-face {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 300;
  src: local("Circular Std"),
    url("./fonts/CircularStd-Light.woff") format("woff");
}

@font-face {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 500;
  src: local("Circular Std"),
    url("./fonts/CircularStd-Medium.woff") format("woff");
}

@font-face {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 700;
  src: local("Circular Std"),
    url("./fonts/CircularStd-Bold.woff") format("woff");
}

html,
body {
  font-family: "Circular Std", sans-serif;
}
